@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  color: #b7e8cd;
  background-color: #6a5d5d;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9ff;
  scroll-behavior: smooth;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #495c51;
}

::-webkit-scrollbar-thumb:hover {
  background: #678273;
}

#scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}